.xp12 {
  padding: 0 12px;
}

.xp16 {
  padding: 0 16px;
}

.xp20 {
  padding: 0 20px;
}

.xp32 {
  padding: 0 32px;
}

.xp70 {
  padding-left: 70px;
  padding-right: 70px;
}

.yp14 {
  padding: 14px 0;
}

.yp20 {
  padding: 20px 0;
}

.yp40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.yp50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.yp50 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.p12 {
  padding: 12px;
}

.p20 {
  padding: 20px;
}

.p40 {
  padding: 40px;
}

.pt20 {
  padding-top: 20px;
}

.pt40 {
  padding-top: 40px;
}

.pt60 {
  padding-top: 60px;
}

.pt80 {
  padding-top: 80px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb40 {
  padding-bottom: 32px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb160 {
  padding-bottom: 160px;
}