@import url("../../assets/styles/Global.css");

.chat_bubble {
  padding: 16px 24px;
  border-radius: 0 24px 24px 24px;
  background-color: var(--sub-100);
  color: var(--sub-800);
  font-weight: 600;
  margin: 0 80px 0 20px;
}